<div class="justify-content-center py-5 align-items-center">
  <div class="container card py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <h4 class="text-center">Reset Password</h4>
      </div>
    </div>
    <form [formGroup]="resetPasswordForm"
          (ngSubmit)="onSubmit()"
          class="row justify-content-center gap-2">
      <div class="col-12 col-md-6 mb-3">
        <label for="code"
               class="form-label">Validation Code*</label>
        <input type="text"
               id="code"
               formControlName="code"
               placeholder="Enter validation code"
               class="form-control"
               [ngClass]="{'is-invalid': code?.invalid && (code?.touched || code?.dirty)}">
        <div *ngIf="code?.invalid && code?.touched"
             class="invalid-feedback">
          Validation code is required.
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="password"
               class="form-label">New Password*</label>
        <input type="password"
               id="password"
               formControlName="password"
               placeholder="Enter new password"
               class="form-control"
               [ngClass]="{'is-invalid': password?.invalid && (password?.touched || password?.dirty)}">
        <div *ngIf="password?.invalid && password?.touched"
             class="invalid-feedback">
          Password must be at least 6 characters long.
        </div>
      </div>
      <div class="col-12 col-md-6 text-center cursor-pointer">
        <button type="submit"
                class="btn btn-dark"
                [disabled]="!resetPasswordForm.valid || loading">
          Reset Password
          @if (loading) {
            <app-loader mode="small"></app-loader>
          }
        </button>
      </div>
    </form>
  </div>
</div>
