<div class="landing-page d-flex flex-column gap-4 text-center">
  <div class="banner-wrapper h-50">
    <img ngSrc="/banner_.jpeg"
         alt="logo"
         class="object-fit-cover"
         priority
         fill>
  </div>
  <h1 class="d-flex justify-content-center">{{ counter }} zadovoljni člani</h1>
  <h2 class="d-flex justify-content-center">"Pomagaj mi, da to naredim sam!"</h2>
</div>
<div class="d-flex mb-5 justify-content-center gap-5 mb-3 mx-5">
  <div class="text-wrapper">
    <p class="mb-4">
      Brezplačna šola Montessori Koper od leta 2005 podpira in spremlja otroke od osnovne šole do srednje šole po
      načelih Marije Montessori. »Pomagaj mi, da naredim sam« je vodilo vzgoje montessori, zato je razvoj naših otrok
      že od samega začetka usmerjen v samoaktivnost in neodvisnost. Naši vzgojitelji in učni spremljevalci nudijo le
      toliko pomoči, kot je potrebno.
    </p>
    <ul>
      <li class="mb-1">Spodbujajo otroke, da sami odkrijejo novo znanje</li>
      <li class="mb-1">Podpirajo učence pri tem, da postanejo aktivni raziskovalci</li>
      <li class="mb-1">Ljubeče spremljajo razvojne in učne procese</li>
      <li class="mb-1">Opazujejo, usmerjajo in podpirajo mlade</li>
      <li class="mb-1">Spodbujajo samostojno, samoregulirano in odgovorno učenje</li>
      <li class="mb-1">Otroke in mladostnike obravnavajo celostno kot del družbene skupnosti</li>
      <li class="mb-1">Upoštevajo individualnost in spodbujajo vključevanje</li>
      <li class="mb-1">Spodbujajo medpredmetno in medgeneracijsko učenje</li>
      <li class="mb-1">Spoštujejo svobodo in samostojnost otroka</li>
    </ul>
  </div>
  <img ngSrc="/iStock-1386857382.jpg"
       alt="logo"
       class="object-fit-cover"
       priority
       height="500"
       width="500">
</div>
