// FFCA02
.landing-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.banner-wrapper {
  height: 100svh;
  min-height: 60vh;
  position: relative;
}

.text-wrapper {
  max-width: 40%;
}
