.card-body {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100%; /* Ensure it takes the full height of the card */
  text-align: center; /* Center the text content */
}

.simple-gallery {
  display: flex;
  gap: 0.5rem;
  justify-content: center; /* Center images horizontally */
  flex-wrap: wrap; /* Ensure images wrap if there are too many */
}

.image-container {
  width: 100%;
  max-width: 450px; /* Set a max-width for the images */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem; /* Add space between image containers */
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure images cover the container while maintaining aspect ratio */
}
