@if (loading) {
  <app-loader></app-loader>
}
<div class="card">
  @if (isAdmin) {
    <div class="card-header">
      <button class="btn btn-info text-white"
              (click)="toggleEditMode()">Edit this event
      </button>
    </div>
  }
  <div class="card-body py-5">
    <!-- Display mode -->
    <div *ngIf="!isEditMode">
      <h1 *ngIf="event">{{ event.content.title }}</h1>
      <div *ngIf="event && event.content.contentBlocks">
        <!-- Loop through content blocks -->
        <div *ngFor="let block of event.content.contentBlocks">
          <!-- Display text blocks -->
          <div *ngIf="block.type === 'text'">
            <p>{{ block.value }}</p>
          </div>
          <!-- Display image blocks -->
          <div *ngIf="block.type === 'image'"
               class="simple-gallery d-flex flex-wrap">
            <ng-container *ngFor="let img of block.values">
              <div class="image-container me-2 mb-2">
                <img [ngSrc]="img"
                     alt="Event image"
                     class="gallery-image img-fluid"
                     width="600"
                     height="500" />
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <p *ngIf="event">Event Date: {{ event.eventDate }}</p>
    </div>

    <div *ngIf="isEditMode">
      <app-event-form [event]="event"
                      (stopEditing)="stopEditing($event)"
                      (formSubmit)="handleFormSubmit($event)"></app-event-form>
    </div>
  </div>
</div>
