<div class="modal-header">
  <h5>Add New Event</h5>
</div>
<div class="modal-body">
  <div class="form-container">
    <form [formGroup]="createEventForm">
      <!-- Title Input -->
      <label for="title">Title</label>
      <input
        id="title"
        formControlName="title"
        type="text"
        class="form-control gap-3"
      />

      <!-- Content Input -->
      <label for="content">Content</label>
      <textarea
        id="content"
        formControlName="content"
        class="form-control"
      ></textarea>

      <!-- Dynamically Added Blocks -->
      <div class="additional-blocks">
        <div
          *ngFor="let textArea of additionalTextGroups; let i = index"
          [formGroup]="textArea"
          class="form-group mb-3"
        >
          <!-- Text Block -->
          <label for="additionalText-{{ i }}">Additional Content {{ i + 1 }}</label>
          <textarea
            id="additionalText-{{ i }}"
            formControlName="value"
            class="form-control"
            placeholder="Enter additional content"
          ></textarea>
          <button
            type="button"
            class="btn btn-danger mt-2"
            (click)="removeAdditionalTextArea(i)"
          >
            Remove
          </button>
        </div>

        <!-- Added Images -->
        <div *ngFor="let file of selectedFiles; let i = index"
             class="mt-3">
          <label>Added Image {{ i + 1 }}:</label>
          <p>{{ file.name }}</p>
          <button
            type="button"
            class="btn btn-danger mt-2"
            (click)="removeImage(i)"
          >
            Remove
          </button>
        </div>
      </div>
      <!-- Add Content Buttons -->
      <div class="form-group mb-3">
        <button
          type="button"
          class="btn btn-primary me-2"
          (click)="addAdditionalTextArea()"
        >
          Add Text Block
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="addAdditionalImage()"
        >
          Add Image Block
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button (click)="onFormSubmit()"
          [disabled]="loading"
          class="btn btn-success">Submit
    @if (loading) {
      <app-loader mode="small"></app-loader>
    }
  </button>
  <button (click)="modalService.dismissAll()"
          class="btn btn-danger">Cancel
  </button>
</div>
