.registration-page {
  position: relative;
  height: calc(100vh);
}

form {
  position: relative;
  background-color: #fff;
  box-shadow: 0 .175rem .375rem #00000026;
  z-index: 1;
  width: 100rem;
  padding: 1.5rem;
  margin: auto;
  border-radius: .5rem;
}

input, select, ng-select {
  margin-bottom: 1rem;
}

.img-wrapper {
  max-width: 50%;
}

.a-ng-select {
  margin-bottom: 0;
  border: 0;
  background: transparent;
}

.is-invalid {
  border-color: #ea868f !important;
}

