<div class="registration-page d-flex justify-content-center align-items-center w-100">
  <div class="w-50">
    <img ngSrc="/iStock-1281812333.jpg"
         alt="logo"
         class="object-fit-cover w-50"
         priority
         fill>
  </div>
  <div class="container w-50 mt-5">
    <div class="text-center mb-1">
      <h4>Vpis novih članov</h4>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center w-75">
        <form #registrationFormRef="ngForm"
              [formGroup]="registrationForm"
              (ngSubmit)="onSubmit()"
              class="fb-form-wrapper --wishlist">
          <div class="row">
            <div class="col-6 mb-2">
              <label class="form-label mb-0"
                     for="firstName">Ime otroka*</label>
              <input [ngClass]="{'is-invalid': firstName.invalid && (registrationFormRef.submitted || firstName.touched)}"
                     placeholder="Ime otroka"
                     class="form-control mb-0"
                     formControlName="firstName"
                     id="firstName">
            </div>
            <div class="col-6 mb-2">
              <label class="form-label mb-0"
                     for="lastName">Priimek otroka*</label>
              <input [ngClass]="{'is-invalid': lastName.invalid && (registrationFormRef.submitted || lastName.touched)}"
                     placeholder="Priimek otroka"
                     class="form-control mb-0"
                     formControlName="lastName"
                     id="lastName">
            </div>
            <div class="col-6 mb-2">
              <label class="form-label mb-0"
                     for="birthDate">Datum rojstva*</label>
              <input [ngClass]="{'is-invalid': birthDate.invalid && (registrationFormRef.submitted || birthDate.touched)}"
                     id="birthDate"
                     type="text"
                     class="form-control mb-0"
                     formControlName="birthDate"
                     ngbDatepicker
                     #dp="ngbDatepicker"
                     (click)="dp.toggle()"
                     placeholder="Izberite datum">
            </div>
            <div class="col-6 mb-2">
              <label class="form-label mb-0"
                     for="gender">Spol otroka*</label>
              <ng-select [ngClass]="{'is-invalid': gender.invalid && (registrationFormRef.submitted || gender.touched)}"
                         [items]="genderOptions"
                         [clearable]="false"
                         [searchable]="false"
                         [placeholder]="'Izaberite spol...'"
                         id="gender"
                         formControlName="gender"
                         class="a-ng-select">
              </ng-select>
            </div>
            <div class="col-6 mb-2">
              <label class="form-label mb-0"
                     for="schoolYear">
                Otrok je vpisan v:*
              </label>
              <ng-select [ngClass]="{'is-invalid': schoolYear.invalid && (registrationFormRef.submitted || schoolYear.touched)}"
                         [items]="schoolOptions"
                         [clearable]="false"
                         [placeholder]="'Izaberite opcijo...'"
                         searchable="false"
                         bindLabel="label"
                         bindValue="value"
                         id="schoolYear"
                         formControlName="schoolYear"
                         class="a-ng-select">
              </ng-select>
            </div>
            <div class="col-6 mb-2">
              <label class="form-label mb-0"
                     for="address">Naslov*</label>
              <input [ngClass]="{'is-invalid': address.invalid && (registrationFormRef.submitted || address.touched)}"
                     placeholder="Naslov"
                     class="form-control mb-0"
                     formControlName="address"
                     id="address">
            </div>
            <div class="col-6 mb-2">
              <label class="form-label mb-0"
                     for="postalCode">Poštna številka*</label>
              <input [ngClass]="{'is-invalid': postalCode.invalid && (registrationFormRef.submitted || postalCode.touched)}"
                     placeholder="Poštna številka"
                     class="form-control mb-0"
                     formControlName="postalCode"
                     id="postalCode">
            </div>
            <div class="col-6 mb-2">
              <label class="form-label mb-0"
                     for="city">Kraj*</label>
              <input [ngClass]="{'is-invalid': city.invalid && (registrationFormRef.submitted || city.touched)}"
                     placeholder="Kraj"
                     class="form-control mb-0"
                     formControlName="city"
                     id="city">
            </div>
            <div class="col-12 mt-2">
              <button [disabled]="!registrationForm.valid"
                      class="btn btn-dark w-100"
                      type="submit">
                Pošlji
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
