/* You can add global styles to this file, and also import other style files */
@import '@ng-select/ng-select/scss/default.theme';
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Marcellus', serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.cursor-pointer {
  cursor: pointer;
}

.banner-wrapper {
  height: 100svh;
  min-height: 60vh;
  position: relative;
}

.text-wrapper {
  max-width: 40%;
}
